<app-navbar [addTrainButton]="true"></app-navbar>
<div style="display: flex; height: 100vh;">

    <!-- Sidebar -->
    <app-sidebar [trainPage]="true"></app-sidebar>

    <!-- Main Content -->
    <form (ngSubmit)="addTrain()" #trainForm="ngForm">
        <div class="popup-overlay" *ngIf="addTrainVisible$ | async">
            <div class="popup-content">
                <div class="row">
                    <!-- First row: Weight and Weight Limit -->
                    <div class="col-md-4">
                        <label for="weight">Poids (Kg)</label>
                        <input type="number" id="weight" class="form-control" placeholder="Entrez le poids" required
                            [(ngModel)]="train.weight" name="weight" #weight="ngModel" />
                        <div *ngIf="weight.invalid && weight.touched" class="text-danger">Le poids est obligatoire</div>
                    </div>
                    <div class="col-md-4">
                        <label for="weightLimit">Limite de Poids</label>
                        <input type="number" id="weightLimit" class="form-control"
                            placeholder="Entrez la limite de poids" required [(ngModel)]="train.weightLimit"
                            name="weightLimit" #weightLimit="ngModel" />
                        <div *ngIf="weightLimit.invalid && weightLimit.touched" class="text-danger">La limite de poids
                            est obligatoire</div>
                    </div>
                    <div class="col-md-4">
                        <label for="speed">Vitesse (Km/h)</label>
                        <input type="number" id="speed" class="form-control" placeholder="Entrez la vitesse" required
                            [(ngModel)]="train.speed" name="speed" #speed="ngModel" />
                        <div *ngIf="speed.invalid && speed.touched" class="text-danger">La vitesse est obligatoire</div>
                    </div>
                </div>


                <div class="row mt-2">
                    <!-- Second row: Speed and Energy Limit -->

                    <div class="col-md-4">
                        <label for="energyLimit">Limite d'énergie (L)</label>
                        <input type="number" id="energyLimit" class="form-control"
                            placeholder="Entrez la limite d'énergie" required [(ngModel)]="train.energyLimit"
                            name="energyLimit" #energyLimit="ngModel" />
                        <div *ngIf="energyLimit.invalid && energyLimit.touched" class="text-danger">La limite d'énergie
                            est obligatoire</div>
                    </div>
                    <div class="col-md-4">
                        <label for="creationDate">Date de Création</label>
                        <input type="date" id="creationDate" class="form-control" required
                            [(ngModel)]="train.creationDate" name="creationDate" #creationDate="ngModel" />
                        <div *ngIf="creationDate.invalid && creationDate.touched" class="text-danger">La date de
                            création est obligatoire</div>
                    </div>

                    <div class="col-md-4">
                        <label for="cost">Coût (TND)</label>
                        <input type="number" id="cost" class="form-control" placeholder="Entrez le coût" required
                            [(ngModel)]="train.cost" name="cost" #cost="ngModel" />
                        <div *ngIf="cost.invalid && cost.touched" class="text-danger">Le coût est obligatoire</div>
                    </div>
                </div>

                <div class="row mt-2">
                    <!-- Third row: Train Type and Cost, File Input for Image -->
                    <div class="col-md-6">
                        <label for="trainType">Type de Train</label>
                        <select id="trainType" class="form-select" required [(ngModel)]="train.trainType"
                            name="trainType" #trainType="ngModel">
                            <option value="" disabled>Choisissez un type</option>
                            <option value="Electrical">Électrique</option>
                            <option value="Gas">Gaz</option>
                        </select>
                        <div *ngIf="trainType.invalid && trainType.touched" class="text-danger">Le type de train est
                            obligatoire</div>

                        <label for="trainAxe" class="mt-2">Axe</label>
                        <select id="trainAxe" class="form-select" required [(ngModel)]="train.trainAxe" name="trainAxe"
                            #trainAxe="ngModel" (change)="onTrainAxeChange($event)">
                            <option value="" disabled>Choisissez un axe</option>
                            <option value="Tunis_Sousse_Sfax_Gabes_Gafsa">Tunis-Sousse-Sfax-Gabes-Gafsa</option>
                            <option value="Tunis_LaGoulette">Tunis-LaGoulette</option>
                            <option value="Tunis_Gaafour_Djerissa_Kasserine">Tunis-Gaafour-Djerissa-Kasserine</option>
                            <option value="Tunis_Beja_Ghardimaou">Tunis-Beja-Ghardimaou</option>
                            <option value="Tunis_Bizerte">Tunis-Bizerte</option>
                        </select>
                        <div *ngIf="trainAxe.invalid && trainAxe.touched" class="text-danger">L'axe de train est
                            obligatoire</div>

                        <label for="station" class="mt-2">Station Initiale</label>
                        <select id="station" class="form-select" required [(ngModel)]="train.station" name="station"
                            #station="ngModel">
                            <option value="" disabled>Choisissez un axe d'abord</option>
                            <option *ngFor="let station of stations" [value]="station">{{ station }}</option>
                        </select>
                        <div *ngIf="station.invalid && station.touched" class="text-danger">La station de train est
                            obligatoire</div>

                        <div class="col-md-12">
                            <label for="title" class="mt-2">Titre</label>
                            <input type="text" id="title" class="form-control" placeholder="Entrez titre" required
                                [(ngModel)]="train.title" name="weight" #title="ngModel" />
                            <div *ngIf="title.invalid && title.touched" class="text-danger">Le titre est obligatoire
                            </div>
                        </div>

                    </div>



                    <div class="col-md-6">
                        <label for="image">Image du Train</label>
                        <input type="file" id="image" class="form-control" (change)="onImageSelected($event)" />
                        <div *ngIf="selectedImageUrl; else placeholder">
                            <div class="card mt-2">
                                <img [src]="selectedImageUrl" alt="Selected Image" class="img-fluid"
                                    style="width: 350px;" />
                            </div>
                        </div>
                        <ng-template #placeholder>
                            <div class="card mt-2">
                                <br><br><br><br><br><br><br><br>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <hr class="mt-4" />

                <div class="row">
                    <div class="col-md-6">

                        <h5 *ngIf="modify">Modifier un Train</h5>
                        <h5 *ngIf="!modify">Ajouter un Train</h5>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="button" class="btn btn-secondary me-2" (click)="cancel()">Annuler</button>

                        <button type="submit" class="btn btn-primary" [disabled]="trainForm.invalid">Appliquer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>





    <div style="flex: 1; position: relative; display: flex;">

        <div
            style="flex: 1; display: flex; justify-content: center; align-items: center; text-align: center; position: relative;">
            <div style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('assets/images/background2.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.2;
            "></div>

            <div style="flex: 1; display: flex;">
                <!-- Table Section -->
                <div style="flex: 5; position: relative; padding: 12px; padding-right: 0px; z-index: 1;">
                    <div style="height: 480px; overflow-y: auto; overflow-x: hidden; margin-top: 20px;">
                        <div id="pdf-content">
                            <table class="table table-bordered table-striped table-hover shadow" style="width: 100%;">
                                <thead class="thead-dark" style="position: sticky; top: 0">
                                    <tr>
                                        <th>Image</th>
                                        <th>Titre</th>
                                        <th>Wag.</th>
                                        <th>Vitesse</th>
                                        <th>Poid</th>
                                        <th>Coût</th>
                                        <th>Axe</th>
                                        <th>Statut</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let train of trains" (click)="togglePopup($event, train.id)">
                                        <td>
                                            <div>
                                                <img [src]="train.photo || 'https://via.placeholder.com/50'" alt="Image"
                                                    [ngStyle]="{
                                      'transform': activeZoomIndex === train.id ? 'scale(5) translateX(20px)' : 'scale(1)', 
                                      'transition': 'transform 0.2s ease-in-out'
                                    }" style="width: 50px; object-fit: cover;" (mouseover)="activeZoomIndex = train.id"
                                                    (mouseup)="activeZoomIndex = -1"
                                                    (mouseleave)="activeZoomIndex = -1">
                                            </div>
                                        </td>
                                        <td>{{ train.title }}</td>
                                        <td>{{ train.cars?.length }}</td>
                                        <td>{{ train.speed }} Km/H</td>
                                        <td>{{ train.weight }} Kg</td>
                                        <td>{{ train.cost }} TND</td>
                                        <td>{{ train.trainAxe }}</td>
                                        <td [ngClass]="{
                                    'bg-success text-white': train.state === 0,
                                    'bg-info text-white': train.state === 2,
                                    'bg-primary text-white': train.state === 3,
                                    'bg-warning text-dark': train.state === 5,
                                    'bg-danger text-white': train.state === 4
                                  }">
                                            <ng-container *ngIf="train.state === 0">Disp.</ng-container>
                                            <ng-container *ngIf="train.state === 2">Progr.</ng-container>
                                            <ng-container *ngIf="train.state === 3">Enroute</ng-container>
                                            <ng-container *ngIf="train.state === 5">Nonwagon</ng-container>
                                            <ng-container *ngIf="train.state === 4">NonDisp</ng-container>
                                        </td>

                                        <div *ngIf="popupFreightId === train.id" [ngStyle]="{
                                              'position': 'absolute', 
                                              'background': 'white', 
                                              'border': '1px solid #ccc', 
                                              'box-shadow': '0px 4px 8px rgba(0, 0, 0, 0.1)', 
                                              'padding': '10px', 
                                              'border-radius': '5px', 
                                              'z-index': '1000',
                                              'top': popupPosition.top + 'px',
                                              'left': popupPosition.left + 'px'
                                            }" (click)="$event.stopPropagation()">
                                            <ul style="list-style-type: none; padding: 0; margin: 0;">
                                                <li style="margin-bottom: 5px; cursor: pointer;"
                                                    (click)="modifyF(train)">📝 Modifier</li>
                                                <li style="margin-bottom: 5px; cursor: pointer;"
                                                    (click)="deleteF(train)">🗑️ Supprimer</li>
                                                <li style="cursor: pointer;"
                                                    (click)="$event.stopPropagation(); cancelPopup()">❌ Annuler</li>
                                            </ul>
                                        </div>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Filter Card Section -->
                <div style="flex: 1; padding: 10px; z-index: 1; padding-top: 31px;">
                    <!-- Adjusted padding above the card -->
                    <div class="card shadow rounded" style="width: 140px; padding: 16px;">
                        <div class="form-group">
                            <label for="filterAxe">Axe</label>
                            <select id="filterAxe" class="form-select" [(ngModel)]="filter.axe" name="filterAxe">
                                <option value="">Tout</option>
                                <option value="Tunis_Sousse_Sfax_Gabes_Gafsa">Tunis-Sousse-Sfax-Gabes-Gafsa</option>
                                <option value="Tunis_LaGoulette">Tunis-LaGoulette</option>
                                <option value="Tunis_Gaafour_Djerissa_Kasserine">Tunis-Gaafour-Djerissa-Kasserine
                                </option>
                                <option value="Tunis_Beja_Ghardimaou">Tunis-Beja-Ghardimaou</option>
                                <option value="Tunis_Bizerte">Tunis-Bizerte</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="filterCars">Cars</label>
                            <input type="number" class="form-control" id="filterCars" placeholder="Cars"
                                [(ngModel)]="filter.cars">
                        </div>

                        <div class="form-group">
                            <label for="filterSpeed">Vitesse</label>
                            <input type="number" class="form-control" id="filterSpeed" placeholder="Vitesse"
                                [(ngModel)]="filter.speed">
                        </div>

                        <div class="form-group">
                            <label for="filterCost">Coût</label>
                            <input type="number" class="form-control" id="filterCost" placeholder="Coût"
                                [(ngModel)]="filter.cost">
                        </div>
                        <div class="form-group">
                            <label for="filterStationStart">Statut</label>
                            <select id="filterStationStart" class="form-select" name="filterStationStart"
                                [(ngModel)]="filter.state">
                                <option value="">Tout</option>
                                <option value="0">Disponible</option>
                                <option value="2">Programmé</option>
                                <option value="3">En route</option>
                                <option value="5">Livré</option>
                                <option value="4">Non Disponible</option>
                            </select>
                        </div>
                        <div>
                            <div>
                                <input type="radio" id="inferior" name="comparison" value="inferior"
                                    [(ngModel)]="filter.comparison">
                                <label for="inferior">Inférieur</label>
                                <br>
                                <input type="radio" id="superior" name="comparison" value="superior"
                                    [(ngModel)]="filter.comparison">
                                <label for="superior">Supérieur</label>
                            </div>
                            <button type="button" class="btn btn-primary mt-3" (click)="applyFilter()">Filtrer</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>